.H1_B{
    background-image: url('../../assets/H.jpg');
    background-size:cover;

}
.T1_B{
    background-image: url('../../assets/T_1.jpg');
    background-size:cover;
    background-position:0cap;

}
.T2_B{
    background-image: url('../../assets/T_2.jpg');
    background-size:cover;
    background-position:0cap;
}
.E1_B{
    background-image: url('../../assets/E_1.jpg');
    background-size:cover;
    background-position:0cap;

}
.E2_B{
    background-image: url('../../assets/E_2.jpg');
    background-size:cover;
    background-position:0cap;
}
.BOF_1{
    background-image: url('../../assets/BOF_1.jpg');
    background-size:cover;
    background-position:0cap;
}
.BOF_2{
    background-image: url('../../assets/BOF_2.jpg');
    background-size:cover;
    background-position:0cap;

}
.AOD_1{
    background-image: url('../../assets/AOD_1.jpg');
    background-size:cover;
    background-position:0cap;
}
.LF_1
{
    background-image: url('../../assets/LF_1.jpg');
    background-size:cover;
    background-position:0cap;
}
.LF_2
{
    background-image: url('../../assets/LF_2.jpg');
    background-size:cover;
    background-position:0cap;
}
.VOD{
    background-image: url('../../assets/VOD.jpg');
    background-size:cover;
    background-position:0cap;
}
.RH_1
{
    background-image: url('../../assets/RH_1.jpg');
    background-size:cover;
    background-position:0cap;
}
.RH_2
{
    background-image: url('../../assets/RH_2.jpg');
    background-size:cover;
    background-position:0cap;
}
.C_CUT{
    background-image: url('../../assets/C_CUT.jpg');
    background-size:cover;
    background-position:0cap;

}
.C_OPEN{
    background-image: url('../../assets/C_OPEN.jpg');
    background-size:cover;
    background-position:0cap;

}
